body {
  background-color: #000;
}

.main {
  background-color: #fff;
  margin-top: 110px;
  padding-left: 100px;
  padding-right: 80px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  float: left;
  width: 659px;
  height: 494px;
  border: 1px solid black; /* remove-for debugging */
}

.ken {
  float: right;
  width: 559px;
  height: 494px;
  margin-top: 50px;
  border: 1px solid red; /* remove-for debugging */
}

.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.ken-ready, .ken-still, .ken-throwing {
  width: 559px;
  height: 494px;
  background: no-repeat;
  zoom: 85%; /* reduces img size */
}

.ryu-ready, .ryu-throwing,
.ken-ready, .ken-throwing {
  display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/throwing-hadouken.png');
}

.ken-ready {
  background-image: url('../images/ken-ready-position.gif');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.ken-still {
  background-image: url('../images/ken-standing-still.png');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.ken-throwing {
  background-image: url('../images/ken-throwing.jpeg');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

