body {
  background-color: #000;
}

.main {
  background-color: #fff;
  margin-top: 110px;
  padding-left: 100px;
  padding-right: 80px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.logo {
  height: 150px;
  width: 280px;
  background: no-repeat;
  margin: 0 auto;
  margin-bottom: -110px;
}

.instructions {
  color: #fff;
  top: -30px;
  padding: 15px;
  position: relative;
  z-index: -1;
  text-align: center;
}

.instructions h2 {
  color: #fff;
  top: 10px;
  padding: 15px;
  position: relative;
  z-index: -1;
  text-align: center;
}

.ryu {
  float: left;
  width: 659px;
  height: 494px;
}

.ken {
  float: right;
  width: 559px;
  height: 494px;
  margin-top: 50px;
}

.ryu-still {
  width: 659px;
  height: 494px;
  display: block;
}

.ryu-ready {
  width: 659px;
  height: 494px;
  display: none;
}

.ryu-throwing {
  width: 659px;
  height: 494px;
  display: none;
}

.ryu-cool {
  width: 659px;
  height: 494px;
  display: none;
}

.ken-still {
  width: 559px;
  height: 494px;
  background: no-repeat;
  zoom: 85%; /* reduces img size */
  display: block;
}

.ken-ready {
  width: 559px;
  height: 494px;
  background: no-repeat;
  zoom: 85%; /* reduces img size */
  display: none;
}

.ken-throwing {
  width: 659px;
  height: 594px;
  background: no-repeat;
  zoom: 95%; /* reduces img size */
  display: none;
  margin-top: -75px;
}

.ken-cool {
  width: 559px;
  height: 894px;
  background: no-repeat;
  display: none;
}

.ryu-hadouken, .ken-hadouken,
.ryu-ready, .ryu-still, .ryu-throwing
.ryu-cool, .ken-cool {
  background-repeat: no-repeat;
}

.ryu-hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 170px;
  left: 650px;
}

.ken-hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: right;
  position: absolute;
  z-index: 10;
  top: 170px;
  right: 520px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.logo {
  background-image: url('../images/logo.png');
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.ken-ready {
  background-image: url('../images/ken-ready-position.gif');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.ken-still {
  background-image: url('../images/ken-standing-still.png');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.ken-throwing {
  background-image: url('../images/ken-throwing.png');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.ken-cool {
  background-image: url('../images/ken-cool.png');
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

